# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
client/ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
client/node_modules/
server/node_modules/
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/client/ios/Pods/
client/ios/Pods/
/client/vendor/bundle/
/vendor/bundle/

# macOS
.DS_Store
keto_limit.code-workspace
notesdraft
Glycemic Index_ What It Is and How to Use It_files
design/logo/design ideas
KetoLimit.code-workspace
server/connection.json
.env
client/.env.debug
client/.env.release
KetoTrain.code-workspace
client/auth/android/debug/google-services.json
client/auth/android/debug .dev/google-services.json
client/auth/android/release/google-services.json
client/auth/android/release .release/google-services.json
client/auth/client_534592509466-6jf73c1nq7qj3i24i9259ejuedb7jd9b.apps.googleusercontent.com.plist
client/auth/client_534592509466-emk8vddvuarhkrqhdv1qlp5rg5ddtagi.apps.googleusercontent.com.plist
client/auth/client_secret_534592509466-3v4edkbk66kelpart53633gvqfccfmrp.apps.googleusercontent.com.json
client/auth/client_secret_534592509466-mla9cae97f60gjl773k5h79r5m1m51n5.apps.googleusercontent.com.json
client/auth/client_secret_534592509466-n718suf9ep50hn8vm4p4fuc5ib48ep1t.apps.googleusercontent.com (1).json
client/auth/client_secret_534592509466-n718suf9ep50hn8vm4p4fuc5ib48ep1t.apps.googleusercontent.com.json
client/auth/client_secret_534592509466-r0b52u6k67qqluglvd7eo6sptlsf1eqr.apps.googleusercontent.com.json
client/auth/client_secret_534592509466-tfde9rsgmmeahtknghht7rbjt14e0m0c.apps.googleusercontent.com.json
client/auth/ios/debug/GoogleService-Info-Debug.plist
client/auth/ios/debug/GoogleService-Info-Release.plist
client/auth/ios/debug/GoogleService-Info.plist
client/auth/ios/release/GoogleService-Info.plist
client/ios/KetoLimit/GoogleService-Info-Debug.plist
client/ios/KetoLimit/GoogleService-Info-Release.plist
client/ios/KetoLimit/GoogleService-Info.plist
client/android/app/src/main/res/values/strings.xml
client/android/app/src/dev/debug/google-services.json
client/android/app/src/dev/release/google-services.json
client/android/app/src/prod/debug/google-services.json
client/android/app/src/prod/release/google-services.json
client/auth/google-services.json
client/auth/Keto Limit Auth Release worksheet.md
firebase/android/google-services.json
release/mockups/Keto Train with images.mockup
client/android/app/release/app-release.aab
client/android/app/src/debug/google-services.json
client/android/app/src/release/google-services.json
client/android/app/src/release copy/google-services.json
client/auth/apple/AuthKey_NNKKAAYFN2.p8
design/design ideas
client/android/app/src/main/assets/index.android.bundle
